{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}    
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <hr>
            <h1 class="our-store">About Us</h1>
            <hr>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2 py-3">
            <h3 class="text-center our-store">Who we are:</h3>
            <p class="text-center">
                <strong>Althea Online Store</strong> is a family owned and run "sari-sari" or small grocery located in Brookside, Bulanao, Tabuk City, Kalinga. We have been in the business for 10 years now selling variety of daily needs like, canned goods, instant noodles, cooking needs like oil and condiments as well as beverages and household cleaning materials. We are guided by the simple principles of Choice, Trust, Value, Quality, Excellent Customer Service, Innovation and most importantly by "YOU" - our valued customers.
            </p>

            <p class="text-center">
               Our community has been the driving force of our business. Our fresh goods like vegetables, fruits, fish, meat and other poultry products are supplied by our local farmers. And we are proud to say that most of these produce are organic making it healthier than what's being offered in other stores. 
            </p>

            <h3 class="text-center our-store">What we do now:</h3>
            <p class="text-center"> 
                Due to the ongoing strict community lockdowns, our customers are having difficulty with their groceries since their movements have been restricted. They can only go out on a set date and time to limit the number of people outside. Thus, we've created this online portal so they can conveniently do their purchases in the safety of their homes. Then we deliver their purchases at their doorstep the following day.
            </p>

            <h3 class="text-center our-store">Form of Payment:</h3>
            <p class="text-center"> 
                Per the Government and Health Authorities Mandate, all purchases are strictly to be done electronically for the safety of all. We will have cash-on-delivery service as soon as its permitted.
            </p>
        </div>
    </div>
</div>    


{% endblock %}