{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Delivery banner information -->
        <div id="delivery-banner" class="row text-center">
            <div class="col text-white">
                <h4 class="banner-font my-1">Free delivery for orders over ₱{{ free_delivery_threshold|floatformat:2 }}</h4>
            </div>            
        </div>          
<section>
    <div class="page-container">
        <div class="page-width">           
            <div class="text-center">
                <h2 class="greeting">                    
                    Welcome to ALTHEA's Online Store.                   
                </h2>
                <p>Grocery Delivery Service within Tabuk City, Kalinga.</p>
                <p>Everyday fresh and high quality items.</p>
                <p><strong>DELIVERY FEES</strong></p>
                <p>₱50.00 - within Bulanao</p>
                <p>₱100.00 - Other areas within Tabuk City</p>
                <p><strong>FREE DELIVERY</strong> within Tabuk City for orders ₱500.00 and above.</p>
                <p><strong>ORDER BEFORE 3PM</strong> for next day delivery.</p>
                <p>Guaranteed delivery before 12PM</p>
            </div>
        </div>
    </div>     
</section>
 
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">                
                <h3 class="text-center product-index">Our Products</h3>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                <a href="{% url 'store' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}grocery.jpg" alt="grocery">
                </a>
                <h4 class="product-index">Food Grocery</h4>
            </div>
              <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                <a href="{% url 'store' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}fresh.jpg" alt="fresh">
                </a>
                <h4 class="product-index">Fresh Goods</h4>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                <a href="{% url 'store' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}drinks.jpg" alt="drinks">
                </a>    
                <h4 class="product-index">Drinks</h4>
            </div>
              <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                <a href="{% url 'store' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}household.jpg" alt="household">
                </a>
                <h4 class="product-index">Household</h4>
            </div>
        </div>

        <div class="row">            
            <div class="col-12 text-center">
                <!-- Shop now link -->                                             
                <p>
                    <a href="{% url 'store' %}" class="welcome-store btn btn-lg rounded-0 text-uppercase py-3">
                        <strong>Shop Now</strong>
                    </a>
                </p>                    
            </div>
        </div>
    </div>
</section>               
{% endblock %}