@import url('https://fonts.googleapis.com/css2?family=Lato&family=Paprika&display=swap');

html {
    height: 100%;
}

body {    
    font-family: 'Lato';
    background-color: #f8f9fa66;
    height: calc(100vh - 164px);
}

/* --- Logo --- */
.althea-logo {
    color: #f5f1e6 ;
    text-transform: uppercase;
}

.store {
    color: #caadae;
}

.logo-title {
    background-color: #7e7e83;
    color: #f5f1e6;
}

/* --- Products index page images --- */
.products-index {    
    border-radius: 1em;
}

.welcome-store {
    background-color: #c74739;
    text-transform: uppercase;
}

.welcome-store:hover,
.welcome-store:active,
.welcome-store:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #c747399e;
    color: white;
}

.product-index {
    background-color: #c74739;
    text-transform: uppercase;
}

.greeting {
    color: #c74739;
}

/* --- Log out, log in and Register page --- */
.account-logo {
    margin-bottom: 24em;
}

.account-logo-link {
    background-color: #c74739 !important;
    text-transform: uppercase;
}

.account-logo-link:hover,
.account-logo-link:active,
.account-logo-link:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #c747399e !important;
    color: white;
}

.account-logo-in {
    margin-bottom: 5em;
}

.account-logo-out {
    margin-bottom: 8em;
}

.account-logo-register {
    margin-bottom: 14em;
}

/* --- from Bulma --- */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

/* --- Contact Us page --- */
.contact-logo-font {
    text-transform: uppercase;
    margin-bottom: 15em;    
}

.contact-success-logo-font {
    margin-bottom: 44em;
}

#delivery-banner{
    margin-top: 1em;
}

.banner-font {
    text-transform: uppercase;
    background-color: #28a745 !important;        
    font-size: 2.0em !important;    
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #f5f1e6;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #e2dfd6;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* --- Move to top button anchor --- */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* --- Search box --- */
input[name='q']::placeholder {
    color: #aab7c4;
}

/* --- Bootstrap toasts --- */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;    
}

.custom-toast {
    overflow: visible;    
}

.toast-capper {
    height: 2px;
}

/* --- From CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ --- */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* --- Convenience classes - colors copied from Bootstrap --- */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* --- Navbar --- */
.navbar {
    padding: 0.5em;
}

.dropdown-text {
    color: #c74739 !important;
}

.our-store {
    color: #c74739;
    text-transform: uppercase;
    padding-top: 1em;
}

/* --- Allauth form formatting --- */
.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* --- Media Queries --- */

/* --- Slightly larger container on xl screens --- */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }

   .header-container {
        padding-top: 2em;
    }
}

/* --- Product form --- */
.btn-file {
    position: relative;
    overflow: hidden;
}

/* --- Profile page --- */
.profile-update {
    margin-bottom: 8em;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* --- Fixed top navbar only on medium and up --- */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }   

    .header-container {
        padding-top: 4em;
    }    

    .account-logo-in {
        margin-bottom: 21em;
    }
}

/* --- Pad the top a bit when navbar is collapsed on mobile --- */
@media (max-width: 991px) {
    .header-container {
        padding-top: 3em;
    }           

    body {
        height: calc(100vh - 116px);
    }

     .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .dropdown-text-nav {
        color: seashell !important;
    }   

    .logo-title {
        background-color: #7e7e83;
        color: #f5f1e6;
    }

    #delivery-banner{
       margin-top: 0px;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }  

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .account-logo,
    .account-logo-register,
    .account-logo-in {
    margin-bottom: 5em;
    }

    .contact-success-logo-font {
    margin-bottom: 5em;
    }
    
    .profile-update {
        margin-bottom: 5em;
    }   
}

/* --- Styling for footer --- */
#footer {
    background-color: #7e7e83;
    text-align: center;
    font-size: 1em;
    color: #f5f1e6;    
}

.footer-row {
    padding: 1em;

}

.footer-header {
    margin-top: 1em;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
} 

.footer-link a {          
    color: #f5f1e6;
}

.footer-link a:hover {
    color: #c74739;    
    transition: .25s ease-in-out;
}

.social-icon i {
    font-size: 1.5em;
    text-align: center;
    color: #c74739;
    padding: 0.25em;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid transparent;
}

.social-icon i:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: #f8bab1;
    transition: .25s ease-in-out;
}

.submit-button-footer, .breadcrumb {
    background-color: #f8bab1;
}

.submit-button-footer:hover {
    color: #fff;
    background-color: #f8bab1;
    transition: .25s ease-in-out;
}

.black-border {
    border-radius: 5px;
    border: 1px solid #000;
}

.black-border:hover {
    border-radius: 5px;
    border: 1px solid #fff;
}

.btn:hover, .btn:focus, .btn:active {
    box-shadow: none;
}

