<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font dropdown-text font-weight-bold nav-link mr-5" href="{% url 'home' %}"  id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item d-block d-lg-none">
            <a href="{% url 'about_us' %}" class="dropdown-text">
                About
            </a>            
        </li>
        <li class="nav-item d-block d-lg-none">
            <a class="dropdown-text" href="{% url 'store' %}">
                Our Store
            </a>            
        </li>      
    </ul>
</div>