{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}    
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mb-4">
            <hr>
            <h2 class="our-store">Contact us</h2>
            <hr>
            <h3 class="dropdown-text">Please use the form below for any special requests/suggestions or inquiries. </h3>
            <br>                          
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="send" class="col-12 py-3"> <!-- user contact form -->
            <form action="{% url 'contact_us' %}" method="POST" id="user-contact-form" class="col-12 col-md-6 offset-md-3">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group">
                    <legend class="fieldset-label px-2 w-auto">Full Name *</legend>
                    <input type="text" name="fname" class="form-control mb-3" pattern="^[a-zA-Z]" required />
                    <legend class="fieldset-label px-2 w-auto">Phone Number *</legend>
                    <input type="text" name="pnumber" class="form-control mb-3" pattern="^[0-9]{0,11}$" placeholder="numbers only" required />
                    <legend class="fieldset-label px-2 w-auto">Email *</legend>
                    <input type="email" id="email" name="emailadd" class="form-control mb-3" required />
                    <legend class="fieldset-label text-black px-2 w-auto">Message *</legend>
                    <textarea name="cmessage" class="form-control mb-3" style="width: 100%; height: 150px;" pattern="^[a-zA-Z]{2,100}$" required></textarea>
                </div> 
                <!-- submit button and link to home -->
                <div class="text-center">
                    <button type="submit" name="btnSubmit" class="btn welcome-store contact-logo-font rounded-0 " value="Post">SEND</button>
                    <a href="{% url 'home' %}" class="btn btn-outline-black contact-logo-font rounded-0 contact-link"> home</a>
                </div>
            </form>    
        </div>
    </div>
</div>
{% endblock %}